.home-header-container {
    text-align: center;
    margin-top: 10rem;
}

.home-header {
    font-weight: 900;
    font-size: 48px;
    color: var(--color-gray-100);
    position: relative;
    background: linear-gradient(45deg, var(--color-gray-100), var(--color-gray-200));
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 0.3s ease;
    text-decoration: none;
    padding: 5px;
}

.home-header::before {
    content: '';
    position: absolute;
    margin-left: 25%;
    width: 0;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: var(--color-gray-100);
    transition: width 0.3s ease;
}

.home-header:hover::before {
    width: 50%;
    margin-left: 25%;
}

.home-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-image-logo {
    margin-top: 4rem;
    transition: transform 0.4s ease-in-out, filter 0.3s;
    will-change: filter;
}

.home-image-logo:hover {
    transform: scale(1.3);
    filter: drop-shadow(var(--color-blue-500) 0 0 2rem);
}

@media (max-width: 768px) {
    .home-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-image-logo {
        width: 250px;
    }
}