.home-header-container {
    text-align: center;
    margin-top: 10rem;
    font-family: Fjalla;
}

.home-header {
    font-weight: 900;
    font-size: 48px;
    color: var(--color-web-foreground);
    position: relative;
    background: linear-gradient(45deg, var(--color-web-foreground), var(--color-gray-200));
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 0.3s ease;
    text-decoration: none;
    padding: 5px;
}

.home-header::before {
    content: '';
    position: absolute;
    margin-left: 25%;
    width: 0;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: var(--color-web-foreground);
    transition: width 0.3s ease;
}

.home-header:hover::before {
    width: 50%;
    margin-left: 25%;
}

.home-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-image-logo {
    margin-top: 5rem;
    transition: transform 0.4s ease-in-out, filter 0.3s;
    will-change: filter;
    cursor: pointer;
    filter: drop-shadow(var(--color-blue-500) 0 0 2rem);
    border-radius: 300px;
    padding: 50px;
    width: 300px;
}

.home-image-logo:hover {
    transform: scale(1.3);
}

.home-para-container {
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-para {
    color: var(--color-web-foreground);
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    border: 3px solid var(--color-gray-100);
    border-radius: 30px;
    padding: 20px;
    background-color: #202127;
    margin-top: 5rem;
    transition: transform 0.3s ease-in-out;
    cursor: text;
}

#home-para:hover {
    transform: scale(1.1);
}

.home-table-container {
    font-family:monospace;
}

.home-table-logo {
    border: 1px solid transparent;
    background-color: #32363f;
    border-radius: 17px;
    height: 100px;
    padding: 2px;
}

.home-art-h1 {
    color: #bfbfc2;
    font-size: 20px;
}

.home-art-h2 {
    color: #9b9b9c;
    font-size: 18px;
}

.home-row-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.home-row-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.home-table-1 {
    margin-top: 5rem;
    border: 1px solid transparent;
    background-color: #202127;
    width: 400px;
    border-radius: 17px;
    padding: 30px;
    margin-right: 50px;
    margin-left: 50px;
    height: 300px;
    transition: transform 0.3s ease-in-out;
}

.home-table-1:hover {
    transform: scale(1.1);
}

.home-table-2 {
    margin-top: 5rem;
    border: 1px solid transparent;
    background-color: #202127;
    width: 400px;
    border-radius: 17px;
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
    transition: transform 0.3s ease-in-out;
}

.home-table-2:hover {
    transform: scale(1.1);
}

.home-table-3 {
    margin-top: 5rem;
    border: 1px solid transparent;
    background-color: #202127;
    width: 400px;
    border-radius: 17px;
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
    transition: transform 0.3s ease-in-out;
}

.home-table-3:hover {
    transform: scale(1.1);
}

.home-table-4 {
    margin-top: 5rem;
    border: 1px solid transparent;
    background-color: #202127;
    width: 400px;
    border-radius: 17px;
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
    transition: transform 0.3s ease-in-out;
}

.home-table-4:hover {
    transform: scale(1.1);
}

.home-table-5 {
    margin-top: 5rem;
    border: 1px solid transparent;
    background-color: #202127;
    width: 400px;
    border-radius: 17px;
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
    transition: transform 0.3s ease-in-out;
}

.home-table-5:hover {
    transform: scale(1.1);
}

.home-table-6 {
    margin-top: 5rem;
    border: 1px solid transparent;
    background-color: #202127;
    width: 400px;
    border-radius: 17px;
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
    transition: transform 0.3s ease-in-out;
}

.home-table-6:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .home-table-1 {
        height: 400px;
    }

    .home-table-2 {
        height: 400px;
    }

    .home-table-3 {
        height: 400px;
    }

    .home-table-4 {
        height: 400px;
    }

    .home-table-5 {
        height: 400px;
    }

    .home-table-6 {
        height: 400px;
    }

    .home-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-image-logo {
        width: 150px;
    }

    #home-para {
        width: 250px;
    }

    .home-blank-doc {
        max-width: 250px;
    }
}

.home-container {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    z-index: 1;
}

@keyframes fadeIn {
    from {
    opacity: 0;  
}    
    to {
    opacity: 1;
}
}

.home-blank-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-blank-doc {
    font-size: 100px;
    border:4px solid #32363f;
    border-radius: 300px;
    margin-top: 10rem;
    width: 1350px;
}

.home-para-container-review {
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

#home-para-review {
    color: var(--color-web-foreground);
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    border: 3px solid var(--color-gray-100);
    border-radius: 30px;
    padding: 20px;
    background-color: #202127;
    margin-top: 5rem;
    transition: transform 0.3s ease-in-out;
    cursor: text;
}

#home-para-review:hover {
    transform: scale(1.1);
}

.home-reviews-container {
    font-family: monospace;
    margin-top: 7.5rem;
    display: flex;
}

.has-scrollbar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    gap: 15px;
    margin: 0 0;
    padding: 25px 15px;
    padding-bottom: 35px;
    transition: 300ms;
}

.has-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

.has-scrollbar::-webkit-scrollbar-track {
    background: #202127;
    border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
    background: #32363f;
    border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb:hover { background: hsla(0, 0%, 100%, 0.15); }

.has-scrollbar::-webkit-scrollbar-button { width: 20px; }

.home-reviews {
    scroll-snap-align: center;
}

.home-reviews-img {
    border: 1px solid transparent;
    background-color: #32363f;
    border-radius: 17px;
    padding: 2px;
    height: 100px;
    width: 150px;
}

#home-reviews-img {
    margin-left: 25px;
}

.home-reviews-article-1 {
    margin-top: 5rem;
    border: 1px solid transparent;
    background-color: #202127;
    width: 300px;
    border-radius: 17px;
    padding: 30px;
    height: 300px;
    flex: 0 0 auto; 
    margin-left: 11px;
    transition: transform 0.3s ease-in-out;
}

.home-reviews-article-1:hover {
    transform: scale(1.1);
}

.home-reviews-article-2 {
    margin-top: 5rem;
    border: 1px solid transparent;
    background-color: #202127;
    width: 300px;
    border-radius: 17px;
    padding: 30px;
    margin-right: 50px;
    margin-left: 50px;
    height: 300px;
    flex: 0 0 auto;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.home-reviews-article-2:hover {
    transform: scale(1.1);
}

.home-reviews-article-3 {
    margin-top: 5rem;
    border: 1px solid transparent;
    background-color: #202127;
    width: 300px;
    border-radius: 17px;
    padding: 30px;
    margin-right: 50px;
    margin-left: 50px;
    height: 300px;
    flex: 0 0 auto;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.home-reviews-article-3:hover {
    transform: scale(1.1);
}

.home-reviews-article-4 {
    margin-top: 5rem;
    border: 1px solid transparent;
    background-color: #202127;
    width: 300px;
    border-radius: 17px;
    padding: 30px;
    margin-right: 50px;
    margin-left: 50px;
    height: 300px;
    flex: 0 0 auto;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.home-reviews-article-4:hover {
    transform: scale(1.1);
}

.home-reviews-article-5 {
    margin-top: 5rem;
    border: 1px solid transparent;
    background-color: #202127;
    width: 300px;
    border-radius: 17px;
    padding: 30px;
    margin-right: 50px;
    margin-left: 50px;
    height: 300px;
    flex: 0 0 auto;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.home-reviews-article-5:hover {
    transform: scale(1.1);
}

.home-reviews-article-6 {
    margin-top: 5rem;
    border: 1px solid transparent;
    background-color: #202127;
    width: 300px;
    border-radius: 17px;
    padding: 30px;
    margin-right: 50px;
    margin-left: 50px;
    height: 300px;
    flex: 0 0 auto;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.home-reviews-article-6:hover {
    transform: scale(1.1);
}

.home-reviews-article-7 {
    margin-top: 5rem;
    border: 1px solid transparent;
    background-color: #202127;
    width: 300px;
    border-radius: 17px;
    padding: 30px;
    margin-right: 50px;
    margin-left: 50px;
    height: 300px;
    flex: 0 0 auto;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.home-reviews-article-7:hover {
    transform: scale(1.1);
}

.home-reviews-article-8 {
    margin-top: 5rem;
    border: 1px solid transparent;
    background-color: #202127;
    width: 300px;
    border-radius: 17px;
    padding: 30px;
    margin-right: 50px;
    margin-left: 50px;
    height: 300px;
    flex: 0 0 auto;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.home-reviews-article-8:hover {
    transform: scale(1.1);
}

.home-reviews-article-9 {
    margin-top: 5rem;
    border: 1px solid transparent;
    background-color: #202127;
    width: 300px;
    border-radius: 17px;
    padding: 30px;
    margin-right: 50px;
    margin-left: 50px;
    height: 300px;
    flex: 0 0 auto;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.home-reviews-article-9:hover {
    transform: scale(1.1);
}

.home-reviews-article-10 {
    margin-top: 5rem;
    border: 1px solid transparent;
    background-color: #202127;
    width: 300px;
    border-radius: 17px;
    padding: 30px;
    margin-right: 50px;
    margin-left: 50px;
    height: 300px;
    flex: 0 0 auto;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.home-reviews-article-10:hover {
    transform: scale(1.1);
}